.git
.github
.env*
!.env.example
!.env.production.example
auth.json
node_modules
vendor
tests
README.md
docker-compose.yml
compose.production.yaml
public/build
public/hot
public/storage
storage/*
storage/**
bootstrap/cache/*
*.log
.phpunit.cache
.phpunit.result.cache
.idea
.vscode
.zed
